@{
    ViewData["Title"] = "Home Page";
}

    <div style="width: 1400px; margin: auto;">
        <header style="padding: 10px; margin-bottom:10px;">
            <img src="~/img/logo.png" height="200">
        </header>
        <div class="card border-primary mb-3">
            <div class="card-header">
                <p style="font-size: 20px; padding: 5px;">
                    Wykryte zagrożenia: <span id="ileZagrozen">5</span>
                </p>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <div>
                                <iframe width="300" height="250" src="http://localhost:3000" allow="camera" frameborder="0"></iframe>
                                <p class="opisCam">Kamera 1</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <iframe width="300" height="250" src="http://localhost:3000" allow="camera" frameborder="0"></iframe>
                                <p class="opisCam">Kamera 2</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <iframe width="300" height="250" src="http://localhost:3000" allow="camera" frameborder="0"></iframe>
                                <p class="opisCam">Kamera 3</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <iframe width="300" height="250" src="http://localhost:3000" allow="camera" frameborder="0"></iframe>
                                <p class="opisCam">Kamera 4</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <iframe width="300" height="250" src="http://localhost:3000" allow="camera" frameborder="0"></iframe>
                                <p class="opisCam">Kamera 5</p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div style="width: 940px; margin: auto; margin-top: 20px;">
            <iframe style="width: 100%; height: 500px;" id="mapa" src="src.html"></iframe>
        </div>

        <div style="width: 940px; margin: auto; margin-top: 20px;">

            <div class="card border-danger mb-3">
                <div class="card-header">
                    <select id="select" class="form-control">
                        <option value="cam1">Kamera 1</option>
                        <option value="cam2">Kamera 2</option>
                        <option value="cam3">Kamera 3</option>
                        <option value="cam4">Kamera 4</option>
                        <option value="cam5">Kamera 5</option>
                        <option value="cam6">Kamera 6</option>
                        <option value="cam7">Kamera 7</option>
                    </select>
                </div>
                <div class="card-body">
                    <h4 class="card-title" id="tytul">Kamera</h4>
                    <div style="position:relative; height:750px;">
                        <iframe width="300" height="250" id="podglad" style="position:absolute; top:250px; left:300px; transform:scale(3)" allow="camera" frameborder="0"></iframe>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    $('#select').change(function () {
      let select = $('#select')
      let value = select.val();
      if (value == "cam1") {
        $('#podglad').attr('src', 'http://localhost:3000');
      }
      else {
        $('#podglad').attr('src', '');
      }
    });
    </script>
